.tower-select-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

#tower {
  width: 300px;
  height: 45px;
  outline: none;
  cursor: pointer;
  padding: 5px;
}
